{% extends 'layout.html' %}
<!-- Add the following line to add to the class of the block content container  
change the # to ∞ to uncomment -->
{% set mainClasses = "nhsuk-u-padding-top-4" %}

{% block pageTitle %}
Preferred Method of Contact | Testing Prototype - Katie Twinn
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">
      Confirm your preferred method of contact
    </h1>

    <p class="nhsuk-body">We will contact you within 2 days of completion to confirm your address has been changed.
      Please not if you select post a letter will be posted out to your new address within 48hrs.</p>

    <form action="v1/contact-method" method="post" novalidate>

      {% set emailHtml %}
      {{ input({
      id: "email",
      name: "email",
      classes: "nhsuk-u-width-two-thirds",
      label: {
      text: "Email address"
      }
      }) }}
      {% endset -%}

      {% set phoneHtml %}
      {{ input({
      id: "phone",
      name: "phone",
      classes: "nhsuk-u-width-two-thirds",
      label: {
      text: "Phone number"
      }
      }) }}
      {% endset -%}

      {% set mobileHtml %}
      {{ input({
      id: "mobile",
      name: "mobile",
      classes: "nhsuk-u-width-two-thirds",
      label: {
      text: "Mobile phone number"
      }
      }) }}
      {% endset -%}

      {{ radios({
      "idPrefix": "contact",
      "name": "contact",
      "value": "contact",
      "fieldset": {
      "legend": {
      "text": "Please contact me ...",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": true
      }
      },
      "hint": {
      "text": "Select one option"
      },
      "items": [
      {
      "value": "By Email",
      "text": "By Email",
      "conditional": {
      "html": emailHtml
      }
      },
      {
      "value": "By Telephone",
      "text": "By Telephone",
      "conditional": {
      "html": phoneHtml
      }
      },
      {
      "value": "By Text Message",
      "text": "By Text Message",
      "conditional": {
      "html": mobileHtml
      }
      },
      {
      "value": "By Post",
      "text": "By Post"
      }
      ]
      }) }}

      {{ button({
      "text": "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}