{% extends 'layout.html' %}

<!-- Add the following line to add to the class of the block content container  
change the # to ∞ to uncomment -->
{% set mainClasses = "nhsuk-u-padding-top-4" %}


{% block pageTitle %}
Start | Testing Prototype - Katie Twinn
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <h1 class="nhsuk-heading-xl">Change of address</h1>

    <p class="nhsuk-body-l">Whilst completing this form you will be required to provide details relating to the user
      account which is being updated.</p>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">User Warning: </span>
          Important
        </span>
      </h3>
      <p>You will need a copy of the following information/documents to complete this online form, please make sure you
        have them to hand:</p>
      <ul>
        <li>Full Name</li>
        <li>NHS Number</li>
        <li>Date of Birth</li>
        <li>Proof of address (New)</li>
      </ul>
    </div>

    <form action="v1/start" method="post">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Start
      </button>
    </form>

  </div>
</div>

{% endblock %}