{% extends 'layout.html' %}

<!-- Add the following line to add to the class of the block content container  
change the # to ∞ to uncomment -->
{% set mainClasses = "nhsuk-u-padding-top-4" %}


{% block pageTitle %}
Step 2 - NHS Number | Testing Prototype - Katie Twinn
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="v1/step-2-nhsnumber" method="post">
      <fieldset class="nhsuk-fieldset">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What is your NHS Number?
          </h1>
        </legend>

        <div class="nhsuk-hint" id="contact-hint">
          Example: 450 557 7104
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="nhs-number">
            NHS Number
          </label>
          <input class="nhsuk-input" id="nhs-number" name="nhs-number" value="{{ data['nhs-number'] }}" type="text">
        </div>

        <button class="nhsuk-button">
          Continue
        </button>

      </fieldset>
    </form>


  </div>
</div>

{% endblock %}