{% extends 'layout.html' %}

<!-- Add the following line to add to the class of the block content container  
change the # to ∞ to uncomment -->
{% set mainClasses = "nhsuk-u-padding-top-4" %} 


{% block pageTitle %}
  Confirmation - Date of Birth | Testing Prototype - Katie Twinn  
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}
    


  </div>
</div>

{% endblock %}

